body {
    font-family: 'Open Sans', sans-serif;
}

#p {
    /* font-family: 'Handlee', cursive; */
    font-family: 'Helvetica';
    color: beige;
}

footer {
    /* margin-bottom: 10px; */
    position: absolute;
    bottom: 0;
    /* padding: 10px; */
}

i {
    color:orange;
}

h2 {
    font-size: 100px;
}